.product {
  width: 15rem;
  text-align: left;
  border: 1px solid #0000003a;
  border-radius: 8px;
  padding: 0.5rem;
  position: relative;
  height: 330px;
}

.product-img {
  width: 72px;
  height: 72px;
  margin: 0 auto;
  object-fit: cover;
}

.product .title-p {
  margin: 0;
  padding: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-height: 48px;
  overflow: hidden
}

.product .descrip-p {
  margin: 0;
  padding: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-height: 144px;
  overflow: hidden
}

.product-footer {
  width: 90%;
  position: absolute;
  bottom: 0;
  margin: 15px 5px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-button {
  position: fixed;
  top: 120px;
  right: 50px;
}

.input-input {
  position: fixed;
  top: 45px;
  right: 50px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

.productCard {
  width: 50rem;
  text-align: left;
  border: 1px solid #0000003a;
  border-radius: 8px;
  padding: 0.5rem;
  position: relative;
  height: 600px;
}

.productCard-footer {
  width: 95%;
  position: absolute;
  bottom: 0;
  margin: 15px 5px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-product-layout {
  display: grid;
  grid-template-columns: 1fr repeat(1, 1fr);
  gap: 20px;
  text-align: left;
}

.main-product-layout img {
  width: 232px;
  height: 232px;
  display: block;
  object-fit: cover;
}

.details-grid-inner {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 550px;
  gap: 5px 20px;
}

.details-grid-inner p {
  margin: 0;
  padding: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-height: 24px;
  overflow: hidden
}

.details-grid-inner .title-p {
  margin: 0;
  padding: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-height: 48px;
  overflow: hidden
}

.details-grid-inner .descrip-p {
  margin: 0;
  padding: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-height: 96px;
  overflow: hidden
}

.full-width {
  flex-grow: 1;
  box-sizing: border-box;
}

.details-grid-inner .input-line {
  display: flex;
  align-items: center;
  gap: 10px;
  max-height: 48px;
}